<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Uspeh</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="container">
        <h1>Success</h1>
        <p>Uspešno ste se prijavili.</p>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Odjavi se</button>
        </form>
    </div>
</body>
</html>
